{% extends base %}

{% block title %}IMDB MOVIE VIZ{% endblock %}

{% block postamble %}
  <style>
    {% include 'styles.css' %}
  </style>
{% endblock %}

{% block contents %}
  <div class="content">
    <h1> An Interactive Visualization Webapp for Movie data </h1>

    <p>
        Interact with the select and slide widgets on the left to query different subsets of movies to plot.
        Hover over each plot circle to see more information about that movie.
    </p>

    {{ super() }}

  </div>
{% endblock %}
